.table {
  padding: 24px 0px;
}

.table__header {
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
}

.table__header-item {
  flex: 1;
  text-align: left;
  padding: 16px 22px 18px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  cursor: pointer;
}

.table__item {
  display: flex;
}

.table__item-text {
  flex: 1;
  text-align: left;
  padding: 16px 22px 18px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
}
