.booking-modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.booking-modal__select {
  display: flex;
  gap: 6px;
  flex-direction: row;
  color: rgba(129, 140, 153, 1);
}

.booking-modal__select-item {
  cursor: pointer;
  width: 150px;
  height: 52px;
  border-radius: 8px;
  border: 0.5px solid rgba(215, 216, 217, 1);
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.booking-modal__select-item-description {
  font-size: 12px;
}

.booking-modal__select-item:hover .booking-modal__select-item-number {
  color: rgba(38, 136, 235, 1);
}
